# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcuserstate
*.xcuserdatad
DerivedData/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# User-specific
xcuserdata/
UserInterfaceState.xcuserstate

# Swift Package Manager
.swiftpm/
.build/

# Secrets
Secrets
Secrets.xcconfig
*.xcconfig

# macOS
.DS_Store
